/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

 li {
   list-style-type: none;
 }
nav {
  min-height: 50px;
  background: black;
  width: 100%;
}

.glyphicon-globe {
  margin-top: 4px;
  margin-left: 50px;
  font-size: 30px;
}

nav ul {
  float: right;
  margin-right: 15px;
}
nav ul li {
  display: inline;
  padding-right: 15px;
}

nav li {
  display: inline;
  padding-right: 15px;
  float: right;
  margin-left: 15px;
  margin-top: 10px;
  text-decoration: none;
}

nav ul .drop-links {
  display: block;
  padding-right: 0px;
}

@media only screen and (max-width : 540px)
 {
     .chat-sidebar
     {
         display: none !important;
     }

     .chat-popup
     {
         display: none !important;
     }
 }

 body
 {
     background-color: #e9eaed;
 }

.username {
  display: inline-block;
  width: 70px;
  font-size: 15px;
}

.well {
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 50px;
  background: #CCC;
  box-shadow: 10px 5px 10px #BBB;
  border: 0px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}
 .chat-sidebar
 {
     width: 200px;
     position: fixed;
     height: 100%;
     right: 0px;
     top: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
     border: 2px solid #AAA;
     margin-top: 50px;
     background: #AAA;
 }

 .sidebar-name
 {
     padding-left: 10px;
     padding-right: 10px;
     margin-bottom: 4px;
     font-size: 12px;
 }

 .sidebar-name:hover {
   background: #BBB;
 }

.popup-box {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 220px;
  height: 285px;
  background-color: white;
  width: 300px;
  border: 1px solid #AAA;
  box-shadow: 10px 10px 5px #AAA;
}

.popup-box .popup-head {
  background-color: blue;
  color: white;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
}

.popup-box .popup-head .popup-head-left {
  float:left;
}
.popup-box .popup-head .popup-head-right {
  float: right;
}
.popup-box .popup-head .popup-head-right a {
  text-decoration: none;
  color: white;
}

.popup-box .popup-messages {
  height: 100%;
/*   overflow-y: scroll; */
  background: white;
  color: black;
}

.text-field {
  width: 290px;
  height: 35px;
  margin: 0;
  margin-left:4px;
  bottom: 0px;
}

.send {
  display: none;
}

.message-content {
  height: 210px;
  background: #EEE;
  width: flex;
  overflow-y: scroll;
}


.message-text {
  width: 180px;
  background: white;
  border-radius: 4px;
  min-height: 60px;
  margin-left: 0px;
  margin-right: 0px;
  display: inline-block;
  min-width: 100px;
  max-width: 168px;
  text-indent: 10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;

}
img {
  width: 30px;
  height: 30px;
}

.pulsit {
  animation: pulse linear 1s infinite;
  -webkit-animation: pulse linear 1s infinite;
}
@-webkit-keyframes pulse {
  0% { color: #0000CC;}
  50% { color: #006666;}
  100% { color: #0000CC;}
}

.left {
  background: image-url("profile.png");
  background-size: cover;
  width: 45px;
  height: 45px;
  float: left;
  display: inline-block;
  position: relative;
  margin-left: 0px;
  border-radius: 0px;
}

.message-wrapper {
  min-height: 50px;
   width: 230px;
   margin-left: 10px;
   margin-bottom: 18px;
   border-radius: 4px;
   display: flex;
}

.left:before {
  content: "";
  height: 0;
  width: 100%;
  position: absolute;
  border-right: 5px solid white;
  border-bottom: 5px solid transparent;
}

.right {
   background-image: image-url("profile.png");
   background-size: cover;
   width: 75px;
   height: 45px;
   float: right;
   background-color: white;
   display: inline-block;
   position: relative;
   margin: 0;
   border-radius: 0px;
 }

 .right:before {
   content: "";
   height: 0;
   width: 0;
   position: absolute;
   border-left: 5px solid white;
   border-bottom: 5px solid transparent;
 }

 .form-control {
   width: 300px;
 }

 .table-striped {
   max-width: 600px;
   margin-left: 150px;
 }
 .input-box {
   margin-left: 290px;
 }
.post-submit {
  width: 290px;
  margin-left: 5px;
}
 .message-sm {
   font-size: 12px;
 }


.post-content {
  height: 30px;
}
